# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug/
models/relay/retinaface_mnet025_v1/*
build/
.pkl_memoize_py3/
.DS_Store
**/.DS_Store
.idea/
**/__pycache__
__pycache__